* {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
   margin: 0;
}

ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px; 
    background-color: #1e6129fd;
    color: #f9faf8;
    font-size: 24px;
    border-bottom: 5px solid rgba(126, 32, 32, 0.548);
}

.left-links {
  display: flex;
  gap: 10px;
}

.left-links img{
  max-width: 100%;
  max-height: 100%;
  display: block; /* removes space below img */
  height: 25px;
  width: 25px;
}


.right-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
 }

 a:hover {
  color:  rgba(126, 32, 32, 0.548);
 }


/* Everything in hero section */

 #hero {
    font-weight: 800;
    font-size: 48px;
    color: #f9faf8;
 }

 .hero {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1e6129fd;
    padding: 50px;
 }

 .hero-left,
 .hero-right {
   flex: 0 1 25em;
 }

#subtext-link {
  margin: 10px 0;
}

 .hero img {
   background-color: grey;
 }

 button {
   color: white;
   background-color: #3882f6;
   border-radius: 5px;
   border: 0px;
   padding: 5px 20px;
 }

 #cover {
   max-width: 100%;
   max-height: 100%;
   display: block; /* removes space below img */
   height: 250px;
   min-width: 250px;
 }

 /* illustration section */

 .ill-header {
   text-align: center;
   font-size: 36px;
   font-weight: 800;
   color: #1f2937;
   padding: 20px;
 }

 .illustrations ul {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
 }

 .illustrations li {
   border-radius: 5px;
   border: 3px solid #3882f6;
 }
 
 img {
   max-width: 100%;
   max-height: 100%;
   display: block; /* removes space below img */
   width: 200px;
 }

 /* quote section */

 .quote {
   background-color: #e5e7eb;
   font-size: 25px;
   font-style: italic;
   color: #1f2937;
   padding: 40px;
 }

 .author {
   font-weight: bold;
   font-size: 20px;
   text-align: right;
   padding-right: 100px;
 }
 /* call to action section */

 .signup {
   display: flex;
   justify-content: center;
   margin: 50px;
 }
 .signup ul {
   display: flex;
   background-color: #3882f6;
   color: white;
   padding: 20px;
   border-radius: 3px;
   justify-content: center;
   gap: 50px; 
 }
 
 .signup button {
   border: 2px solid white;
   border-radius: 5px;
 }

 .action-left li:first-child {
   font-weight: bold;
 }

 .action-left li:last-child {
   font-size: small;
 }

 /* footer section */

 .footer {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #1e6129fd;
   color: white;
   font-size: 10px;
   padding: 10px 0;
 }